.divider1 {
    padding: 20px;
}

.divider2 {
    padding: 30px;
}

.card {
    text-align: center;
    
}

img {
    
}

.FeatureTitle {
    text-align: center;
}

.FeatureIcons {
    text-align: center;
}

.jumbotron {
    background: url("assets/img/paint2.jpg") no-repeat center center; 
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    background-size: 100% 100%;
    color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

footer {
    height: 35px;
    padding-top: 5px;
    padding: 5px;
}

#ContentTitle {
    text-align: center;
    font-size: 48px;
}

#iconsstyle {
    text-align: center;
    font-size: 60px;
    color: #aaf683;
    padding-top: 15px;
    padding-bottom: 15px;
    
}

#icons {
    padding-right: 1em;
 }

 #icon {
    height: 95px;
    width: 95px;
    
    }
    
    .Businfo {
    text-align: center;
    }

    #conecticons {
        text-align: center;
        
    }