.divider1 {
    padding: 20px;
}

.divider2 {
    padding: 30px;
}

.card {
    text-align: center;
    
}

img {
    
}

.FeatureTitle {
    text-align: center;
}

.FeatureIcons {
    text-align: center;
}

.jumbotron {
    background: url("assets/img/paint2.jpg") no-repeat center center; 
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    background-size: 100% 100%;
    color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

footer {
    height: 5px;
    padding-top: 15px;
    text-align: right;
}

#ContentTitle {
    text-align: center;
    font-size: 48px;
}

#iconsstyle {
    text-align: center;
    font-size: 60px;
    color: #aaf683;
    padding-top: 15px;
    padding-bottom: 15px;
    
}

#icons {
    padding-right: 1em;
 }

 #icon {
    height: 95px;
    width: 95px;
    
    }
    
    .Businfo {
    text-align: center;
    }

    #conecticons {
        text-align: center;
        
    }

     /*Parallax*/
  .para-slide {
	width:100%;
	position:relative;
	text-align:center;
	height:100vh;
}
.para-slide h1 {
	margin:0;
	padding-top:5%;
	font-size:3.5em;
	color:white;
}
.para-slide h2 {
	margin:0;
	padding-top:10%;
	color:white;
	font-size:3.75em;
}
.para-slide h3 {
	color:white;
	margin-top:0;
}
.para-slide p {
	color:white;
	font-size:1.5em;
	margin:0;
	padding-top:3%;
	padding-bottom:3%;
	max-width:65%;
	margin:auto;
}

.paratext {
    text-align: center;
}

nav {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}